
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/_MainLayout.cshtml";
}

<h2>AboutUs</h2>
<p>With an extensive range of approved used cars featuring all makes
    and models, The Car Sales Company Bury can provide the right car at the right price.
    With so much choice why go anywhere else? Get the best prices and widest choice on 
    quality used cars in Bury, contact us today! </p>
<p>We have quality used cars in stock. Used Audi, Used BMW, Used Ford, Used Fiat, Used Peugeot,
    Used Toyota, Used Vauxhall, Used Volkswagen are some of the makes we have in stock. 
    We can also deliver cars in Bury, Rochdale, Bolton, Rossendale, Oldham, Ashton, Stockport, Salford and Manchester. </p>
<p>Take a look at our latest stock of vehicles here</p>
<br />
<br />
<br />

@section SideBar{
    <div class="panel panel-default">
        <div class="panel-heading">
            This is page specific section
        </div>
        <div class="panel-body">

            <ul>
                
                <li><a href="/">Home Page</a></li>
                <li><a href="/Contact/contactt">Contact</a></li>
                <li><a href="/AddCars/Cars">Add car</a></li>
            </ul>
        </div>
    </div>


}