@using SA.Controllers
@using SA.Models
@model SA.Models.EditClassforUsers
@inject UserManager<AplicationUser> userManager;
@inject RoleManager<IdentityRole> roleManager;


@{
    //ViewData["Title"] = "Edit Role";
    ViewBag.Title = "Edit Role";

}

<h2>Edit Role</h2>


<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10>
            <input aps-for="Id" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label aps-for="RoleName" class="col-sm-2 col-form-label">Role Name</label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">
            <h3>Users in this role</h3>
            @*<ul><li>@TempData["st"]</li></ul>*@

        </div>
        <div class="panel-body>
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <h5 class="panel-title">@user</h5>


                }

            }
            else
            {
                <h5 class="panel-title">None at the moment</h5>
            }
        </div>
        <div class="panel-footer">
            <a asp-action="EditUsersInRole" asp-controller="Administration"
               asp-route-roleId="@Model.Id" class="btn btn-primary">Add or remove users</a>
            @*<a href="#" class="btn btn-primary">Remove Users</a>*@
        </div>
    </div>

</form>

